/* Footer */
.footer-info {
    color: #03353e;
    background-color: #ebf2ea;
    padding: 0 .4rem .4rem .4rem;
}

.footer-copyright {
    color: #f8f9fa;
    background-color: #03353e;
    padding: .4rem;
}

.footer-info-heading {
    color: #87b842;
    font-weight: 700;
    padding-top: .4rem;
}

.footer-info-list {
}

.footer-info-list li {
    margin-top: .4rem;
}

/* Navbar */

.navbar-end .navbar-item i {
    margin-right: 2px;
}

@media (max-width: 1023px) {
    .navbar-brand {
        justify-content: space-between;
    }
}

/* Breadcrumbs */
.breadcrumb {
    background-color: #ebf2ea;
}

.breadcrumb ul {
    padding: .4rem;
}