/* Sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Navbar */

@media (min-width: 960px) {
    .navbar-vertical-padding {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 959px) {
    .navbar-vertical-padding {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.in-sticky {
    background-color: #ffffff;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
}

.navbar-icon {
    margin-right: 4px;
}

.navbar-cart-icon, .navbar-search-icon, .navbar-burger-icon {
    font-size: 20px;
}

@media (max-width: 959px) {
    .navbar-search-icon {
        margin-right: 15px;
    }
}

/* Footer */
.footer-info {
    color: #03353e;
    background-color: #ebf2ea;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-info-heading {
    color: #87b842;
    font-weight: bold;
    margin-bottom: .6rem;
}

.footer-info-list {
    margin-top: .6rem;
}

@media (max-width: 959px) {
    .footer-info-spacer {
        margin-top: 1.4rem;
    }
}

.footer-copyright {
    color: #f8f9fa;
    background-color: #03353e;
    padding-top: .8rem;
    padding-bottom: .8rem;
}
