/* Sticky footer */
body {
    display: flex;
    min-height: calc(100vh - 52px);
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Footer */
.footer-info {
    color: #03353e;
    background-color: #ebf2ea;
}

.footer-copyright {
    color: #f8f9fa;
    background-color: #03353e;
}

.footer-info-heading {
    color: #87b842;
    font-weight: 700;
}

.footer-info-list li {
    margin-top: .4rem;
}

/* Navbar */
.navbar-brand {
    justify-content: space-between;
}

.burger {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    padding-top: .6rem;
    color: #03353e;
}
