{% load i18n humanize %}

<div class="columns is-multiline is-mobile">
    <div class="is-hidden">
        <form class="select is-pulled-right">
            <select class="" name="ordering">
                <option value="1">{% trans 'Recommended' %}</option>
                <option value="2">{% trans 'Rating: 5 Star - 1 Star' %}</option>
                <option value="3">{% trans 'Price: Low - High' %}</option>
                <option value="4">{% trans 'Price: High - Low' %}</option>
            </select>
        </form>
    </div>

    {% for club in clubs %}
        <div class="column is-full-mobile is-half-desktop">
            <div class="section club-list-item">
                <div class="columns">
                    <div class="column is-full-mobile is-one-third-desktop">
                        <a href="{% url 'golf:golf-club-booking' club.slug %}">
                            {% if club.thumbnail1 %}
                                <img src="{{ club.thumbnail1.url }}" alt="" class="image">
                            {% else %}
                                <img src="//via.placeholder.com/640x320" alt="" class="image">
                            {% endif %}
                        </a>
                    </div>
                    <div class="column is-full-mobile is-two-thirds-desktop">
                        <a href="{% url 'golf:golf-club-booking' club.slug %}">
                            <h3 class="is-size-3">
                                {% if LANGUAGE_CODE == 'th' %}
                                    {{ club.title_thai }}
                                {% elif LANGUAGE_CODE == 'ko' %}
                                    {{ club.title_korean }}
                                {% else %}
                                    {{ club.title_english }}
                                {% endif %}
                            </h3>
                        </a>
                        <div>
                            {% if LANGUAGE_CODE == 'th' %}
                                {{ club.district.title_thai }}
                            {% elif LANGUAGE_CODE == 'ko' %}
                                {{ club.district.title_korean }}
                            {% else %}
                                {{ club.district.title_english }}
                            {% endif %} -
                            <a href="{% url 'golf:golf-province-list'  club.district.province.slug %}">
                                {% if LANGUAGE_CODE == 'th' %}
                                    {{ club.district.province.title_thai }}
                                {% elif LANGUAGE_CODE == 'ko' %}
                                    {{ club.district.province.title_korean }}
                                {% else %}
                                    {{ club.district.province.title_english }}
                                {% endif %}
                            </a>
                        </div>

                        <div class="has-text-weight-bold has-margin-top-12">
                            <span>{% trans 'Start From' %}</span>
                            <span>{{ club.green_fee_selling_price|floatformat:0|intcomma }}</span>
                            <span>{% trans 'THB' %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>