{% extends 'conf/base.html' %}

{% load i18n static humanize %}

{% block main %}
    <main>
        <div class="section breadcrumbs">
            <div class="container">
                <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
                    <ul>
                        <li>
                            <a href="{% url 'golf:golf-area-list' club.district.province.area.slug %}">
                                {% if LANGUAGE_CODE == 'th' %}
                                    {{ club.district.province.area.title_thai }}
                                {% elif LANGUAGE_CODE == 'ko' %}
                                    {{ club.district.province.area.title_korean }}
                                {% else %}
                                    {{ club.district.province.area.title_english }}
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'golf:golf-province-list' club.district.province.slug %}">
                                {% if LANGUAGE_CODE == 'th' %}
                                    {{ club.district.province.title_thai }}
                                {% elif LANGUAGE_CODE == 'ko' %}
                                    {{ club.district.province.title_korean }}
                                {% else %}
                                    {{ club.district.province.title_english }}
                                {% endif %}
                            </a>
                        </li>
                        <li class="is-active">
                            <a href="#">
                                {% if LANGUAGE_CODE == 'th' %}
                                    {{ club.district.title_thai }}
                                {% elif LANGUAGE_CODE == 'ko' %}
                                    {{ club.district.title_korean }}
                                {% else %}
                                    {{ club.district.title_english }}
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="section club-detail-section">
            <div class="container">
                <div class="columns is-multiline club-detail">
                    <div class="column is-one-third">
                        {% if club.thumbnail1 %}
                            <img src="{{ club.thumbnail1.url }}" alt="" class="image">
                        {% else %}
                            <img src="//via.placeholder.com/640x320" alt="" class="image">
                        {% endif %}

                    </div>
                    <div class="column is-one-third">
                        <h3 class="is-size-3 has-text-weight-bold club-title">
                            {% if LANGUAGE_CODE == 'th' %}
                                {{ club.title_thai }}
                            {% elif LANGUAGE_CODE == 'ko' %}
                                {{ club.title_korean }}
                            {% else %}
                                {{ club.title_english }}
                            {% endif %}
                        </h3>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>지역</td>
                                <td colspan="2">
                                    {% if LANGUAGE_CODE == 'th' %}
                                        {{ club.district.title_thai }}
                                    {% elif LANGUAGE_CODE == 'ko' %}
                                        {{ club.district.title_korean }}
                                    {% else %}
                                        {{ club.district.title_english }}
                                    {% endif %} -
                                    <a href="{% url 'golf:golf-province-list'  club.district.province.slug %}">
                                        {% if LANGUAGE_CODE == 'th' %}
                                            {{ club.district.province.title_thai }}
                                        {% elif LANGUAGE_CODE == 'ko' %}
                                            {{ club.district.province.title_korean }}
                                        {% else %}
                                            {{ club.district.province.title_english }}
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans 'Cart Fee' %}</td>
                                <td>
                                    999
                                    {% trans 'THB' %}
                                </td>
                                <td>
                                    {% trans 'Optional' %}
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans 'Caddie Fee' %}</td>
                                <td>
                                    999
                                    {% trans 'THB' %}
                                </td>
                                <td>
                                    <span class="has-text-danger">
                                        {% trans 'Pay at golf course' %}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans 'Telephone' %}</td>
                                <td colspan="2">0813041545</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Address' %}</td>
                                <td colspan="2">99/1 Moo 5, Klongkiew, Banbung, 20220 Chonburi</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Website' %}</td>
                                <td colspan="2">http://www.pattaviagolf.com</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="column is-one-third">
                        <form>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">일자</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input type="text" class="input" id="round_date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">시각</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input type="text" class="input" id="round_time">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">인원</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input" type="number" min="0" max="5"
                                                   value="4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">카트</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input" type="number" min="0" max="5"
                                                   value="4">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">{% trans 'Green Fee' %}</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input type="text" class="input" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">{% trans 'Cart Fee' %}</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input type="text" class="input" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'golf/css/main.css' %}">
    <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static 'golf/js/datepicker.js' %}"></script>
{% endblock %}