{% extends 'conf/base.html' %}

{% load i18n static %}
{% load golf_tags %}

{% block main %}
    <main>
        <div class="section breadcrumbs">
            <div class="container">
                <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
                    <ul>
                        <li>
                            <a href="{% url 'golf:golf-area-list' area.slug %}">
                                {% if LANGUAGE_CODE == 'th' %}
                                    {{ area.title_thai }}
                                {% elif LANGUAGE_CODE == 'ko' %}
                                    {{ area.title_korean }}
                                {% else %}
                                    {{ area.title_english }}
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="section">
            <div class="container">
                {% get_provinces area.slug as provinces %}

                <div class="columns is-multiline is-mobile">
                    {% for province in provinces %}
                        <div class="column is-half-mobile is-one-quarter-desktop">
                            <a href="{% url 'golf:golf-province-list' province.slug %}"
                               class="button is-fullwidth">
                                {% if LANGUAGE_CODE == 'th' %}
                                    {{ province.title_thai }}
                                {% elif LANGUAGE_CODE == 'ko' %}
                                    {{ province.title_korean }}
                                {% else %}
                                    {{ province.title_english }}
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>

                {% include './_golf-club-list.html' with clubs=clubs %}

                {% include './_golf-club-pagination.html' with page_obj=page_obj page_range=page_range %}
            </div>
        </div>
    </main>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link type="text/css" href="{% static 'golf/css/main.css' %}" rel="stylesheet">
{% endblock %}