{% extends 'conf/base.html' %}

{% load i18n static %}

{% block main %}
    <main>
        <div class="uk-section">
            <div class="uk-container">
                <div uk-grid="uk-grid-collapse" class="uk-grid">
                    <div class="uk-width-3-4@m">
                        content
                    </div>
                    <div class="uk-width-1-4@m">
                        sidebar
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link type="text/css" href="{% static 'golf/css/main.css' %}" rel="stylesheet">
{% endblock %}