.club-list-price {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Desktop */
@media (min-width: 960px) {
    .club-list-description {
        padding-left: 12px;
    }
}

/* Small devices */
@media (max-width: 959px) {
    .club-list-description {
    }
}

.areas > * {
    margin-bottom: 8px;
}