.club-rate {
    margin-top: 1rem;
}

.club-location .column {
    padding-top: .2rem;
    padding-bottom: .2rem;
}

@media (max-width: 1023px) {
    .club-list-item {
        padding: .5rem 0;
    }

    .club-list-item .columns {
        box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }
}