{% extends 'magazine/base.html' %}

{% load i18n static %}

{% block content %}
    <div class="uk-card">
        <div class="uk-card-header uk-padding-remove">
            <div class="uk-flex uk-flex-wrap uk-flex-auto">
                <div class="uk-margin-right">
                    <i class="far fa-folder-open fa-fw"></i> 리뷰
                </div>
                <div class="uk-margin-right">
                    <i class="far fa-calendar-alt fa-fw"></i> 2020-03-29 12:35
                </div>
                <div class="uk-margin-right">
                    <i class="fas fa-user-edit"></i> 위드타이
                </div>
                <div class="uk-margin-right">
                    <i class="far fa-eye fa-fw"></i> 1,037회
                </div>
                <div class="uk-margin-right">
                    <i class="far fa-comments fa-fw"></i>5,732
                </div>
            </div>
        </div>
        <div class="uk-card-body uk-padding-remove-horizontal">
            <div class="uk-grid uk-grid-collapse" uk-grid>
                <div class="uk-width-1-1 uk-width-1-4@m blog-featured-image">
                    <img data-src="//via.placeholder.com/640x320"
                         width="900" height="600" alt="" uk-img="">
                </div>
                <div class="uk-width-1-1 uk-width-3-4@m blog-section">
                    <h3>위드타이 개발</h3>
                    <div>
                        <p>골프장 예약 직거래 플랫폼</p>
                        <p>환율 손해 없이 바트화 기준으로 신용카드 결제</p>
                        <p>골프장이 직접 판매하는 프로모션 티오프 즉시 구매</p>
                        <p>엄격한 티오프 시간 준수와 합리적인 가격</p>
                        <p>고객을 위한 맞춤형 정보 제공 커뮤니티 잡담, 질문, 번개합시다, 번개후기, 골프장후기, 캐디후기</p>
                    </div>
                    <div>
                        <a class="uk-button uk-button-text" href="#">{% trans 'Read more' %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-card-footer uk-padding-remove">
            <i class="fas fa-tags fa-fw"></i>
            <span class="uk-label blog-tag">#골프장</span>
            <span class="uk-label blog-tag">#방콕</span>
            <span class="uk-label blog-tag">#가성비</span>
        </div>
    </div>

    <hr class="uk-divider-icon">
{% endblock %}