{% extends 'conf/base.html' %}

{% load i18n static %}

{% block main %}
    <main>
        <div class="section breadcrumbs">
            <div class="container">
                <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
                    <ul>
                        <li>
                            <a href="{% url 'booking:golf-area-list' province.area.slug %}">
                                {% if LANGUAGE_CODE == 'th' %}
                                    {{ province.area.title_thai }}
                                {% elif LANGUAGE_CODE == 'ko' %}
                                    {{ province.area.title_korean }}
                                {% else %}
                                    {{ province.area.title_english }}
                                {% endif %}
                            </a>
                        </li>
                        <li class="is-active">
                            <a href="#">
                                {% if LANGUAGE_CODE == 'th' %}
                                    {{ province.title_thai }}
                                {% elif LANGUAGE_CODE == 'ko' %}
                                    {{ province.title_korean }}
                                {% else %}
                                    {{ province.title_english }}
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="section">
            <div class="container">
                {% include './_golf-club-list.html' with clubs=clubs %}

                {% include './_golf-club-pagination.html' with page_obj=page_obj page_range=page_range %}
            </div>
        </div>
    </main>
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link type="text/css" href="{% static 'booking/css/main.css' %}" rel="stylesheet">
{% endblock %}