<!DOCTYPE html>
<html lang="en">
{% load static i18n %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#87b842">
    <meta property="og:image" content="http://www.withthai.com{% static 'conf/images/withthai_og_en.png' %}"/>
    <meta property="og:image:width" content="1024"/>
    <meta property="og:image:height" content="1024"/>
    <meta charset="utf-8">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="태국어,태국,여행,골프,호텔,예약">
    <meta name="description" content="태국어,태국이민,태국사업,태국여행,골프,호텔,예약,취업">
    <title>{% trans 'WITH THAI' %} : {% block title %}{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
              integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous"/>
        <link href="{% static 'conf/css/nanum-gothic.css' %}" rel="stylesheet">
        <link href="{% static 'conf/css/sarabun.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'conf/css/uikit.css' %}"
              media="screen,projection" rel="stylesheet"/>
        <link type="text/css" href="{% static 'conf/css/main.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'conf/images/favicon_16x16.png' %}">
    {% endblock %}
</head>
<body>
<header>
    <div class="uk-section navbar-vertical-padding">
        <div class="uk-container">
            <div class="uk-flex uk-flex-middle uk-child-width-expand uk-grid-collapse" uk-grid>
                <div class="uk-hidden@m uk-width-1-3">
                    <a href="#" class="" uk-toggle="target: #offcanvas-overlay-mobile-menu">
                        <i class="fas fa-bars fa-fw navbar-burger-icon"></i>
                    </a>
                </div>
                <div class="uk-flex uk-flex-center uk-flex-left@m">
                    <a class="uk-logo" href="{% url 'home' %}">
                        <img src="{% static 'conf/images/withthai_logo_ko.png' %}" alt="{% trans 'WITH THAI' %}">
                    </a>
                </div>
                <div class="uk-hidden@m uk-width-1-3 uk-flex uk-flex-right">
                    <a href="#" class="" uk-toggle="target: #offcanvas-overlay-cart">
                        <i class="fas fa-luggage-cart fa-fw navbar-cart-icon"></i>
                    </a>
                </div>
                <div class="uk-flex uk-flex-right uk-visible@m">
                    <div class="uk-margin-right">
                        <a href="#">
                            <i class="fas fa-passport fa-fw navbar-icon"></i>
                            {% trans 'BOOKING' %}
                        </a>
                    </div>
                    <div class="uk-margin-right">
                        <a href="#">
                            <i class="fas fa-info-circle fa-fw navbar-icon"></i>
                            {% trans 'HELP' %}
                        </a>
                    </div>
                    <div class="uk-margin-right">
                        <a href="#">
                            <i class="fas fa-user-cog fa-fw navbar-icon"></i>
                            {% trans 'MY PAGE' %}
                        </a>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="uk-margin-right">
                            <a href="{% url 'account_logout' %}">
                                <i class="fas fa-sign-out-alt fa-fw navbar-icon"></i>
                                {% trans 'SIGN OUT' %}
                            </a>
                        </div>
                    {% else %}
                        <div class="uk-margin-right">
                            <a href="{% url 'account_login' %}">
                                <i class="fas fa-sign-in-alt fa-fw navbar-icon"></i>
                                {% trans 'SIGN IN' %}
                            </a>
                        </div>
                    {% endif %}
                    <div>
                        <a uk-toggle="target: #offcanvas-overlay-cart">
                            <i class="fas fa-luggage-cart fa-fw navbar-icon"></i>
                            {% trans 'CART' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="offcanvas-overlay-mobile-menu" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-list">
            <li class="sidenav-menu-heading">
                <a href="#">{% trans 'WITH THAI' %}</a>
            </li>
            {% if user.is_authenticated %}
                <li class="sidenav-menu-item">
                    <a href="{% url 'account_logout' %}">
                        <i class="fas fa-sign-out-alt fa-fw"></i>
                        {% trans 'SIGN OUT' %}
                    </a>
                </li>
            {% else %}
                <li class="sidenav-menu-item">
                    <a href="{% url 'account_login' %}">
                        <i class="fas fa-sign-out-alt fa-fw"></i>
                        {% trans 'SIGN IN' %}
                    </a>
                </li>
            {% endif %}
            <li class="sidenav-menu-item">
                <a href="#">
                    <i class="fas fa-user-cog fa-fw"></i>
                    {% trans 'MY PAGE' %}
                </a>
            </li>
            <li class="sidenav-menu-item">
                <a href="#">
                    <i class="fas fa-passport fa-fw"></i>
                    {% trans 'BOOKING' %}
                </a>
            </li>
            <li class="sidenav-menu-item">
                <a href="#">
                    <i class="fas fa-info-circle fa-fw"></i>
                    {% trans 'HELP' %}
                </a>
            </li>
            <li class="sidenav-menu-subitem">
                <ul class="uk-list sidenav-menu-sublist submenu-scroll">
                    <li class="sidenav-menu-heading">
                        <a href="#">{% trans 'GOLF' %}</a>
                    </li>
                    <li class="sidenav-menu-item">
                        <a href="#">{% trans 'Bangkok' %}</a>
                    </li>
                    <li class="sidenav-menu-item">
                        <a href="#">{% trans 'Pattaya' %}</a>
                    </li>
                    <li class="sidenav-menu-item">
                        <a href="#">{% trans 'Chiang Mai' %}</a>
                    </li>
                    <li class="sidenav-menu-item">
                        <a href="#">{% trans 'Chiang Rai' %}</a>
                    </li>
                    <li class="sidenav-menu-item">
                        <a href="#">{% trans 'Hua Hin' %}</a>
                    </li>
                    <li class="sidenav-menu-item">
                        <a href="#">{% trans 'Khao Yai' %}</a>
                    </li>
                    <li class="sidenav-menu-item">
                        <a href="#">{% trans 'Kanchanaburi' %}</a>
                    </li>
                    <li class="sidenav-menu-item">
                        <a href="#">{% trans 'Phuket' %}</a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-menu-subitem">
                <ul class="sidenav-menu-bottom">
                    <li class="uk-text-center submenu-bottom-active">
                        <a href="#" class="">
                            {% trans 'GOLF' %}
                        </a>
                    </li>
                    <li class="uk-text-center">
                        <a href="#">
                            {% trans 'HOTEL' %}
                        </a>
                    </li>
                    <li class="uk-text-center">
                        <a href="{% url 'magazine:home' %}">
                            {% trans 'MAGAZINE' %}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div id="offcanvas-overlay-cart" uk-offcanvas="overlay: true; flip: true">
    <div class="uk-offcanvas-bar sidenav-cart">
        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-list">
            <li class="sidenav-cart-heading">
                <i class="fas fa-luggage-cart fa-fw"></i>
                {% trans 'CART' %}
            </li>
            <li class="sidenav-cart-item">
                <a href="#">{% trans 'EMPTY' %}</a>
            </li>
            <li class="sidenav-cart-button">
                <a href="#" class="pay-button">
                    <i class="far fa-credit-card fa-fw"></i>
                    {% trans 'PAY NOW' %}
                </a>
            </li>
        </ul>
    </div>
</div>
{% if messages %}
    <div class="uk-section uk-padding-remove-vertical">
        <div class="uk-container">
            {% for message in messages %}
                <div class="uk-border-rounded
{% if message.tags == 'error' %}uk-alert-danger
{% elif message.tags == 'warning' %}uk-alert-warning
{% elif message.tags == 'success' %}uk-alert-primary
{% else %}uk-alert-success{% endif %}" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% block main %}
{% endblock %}
<footer>
    <div class="uk-section footer-info">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-width-2-3@m">
                    <h4 class="footer-info-heading">{% trans 'WITH THAI' %}</h4>
                    <ul class="uk-list footer-info-list">
                        <li>Ekkamai No. 30 Sukhumvit (settabut) soi. 61 Klongton Nua, Wattana, Bangkok 10110</li>
                        <li>TAX ID: 0105563049000</li>
                        <li>TAT License: 14/03216</li>
                        <li>(+66) 080-023-3602</li>
                        <li>help@withthai.com</li>
                        <li>LINE: @withthai</li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-width-1-3@m footer-info-spacer">
                    <h4 class="footer-info-heading">{% trans "Help" %}</h4>
                    <ul class="uk-list footer-info-list">
                        <li><a href="#!">{% trans 'FAQ/How-to' %}</a></li>
                        <li><a href="#!">{% trans 'TERMS &amp; CONDITIONS' %}</a></li>
                        <li><a href="#!">{% trans 'PRIVACY POLICY' %}</a></li>
                        <li><a href="#!">{% trans 'ABOUT US' %}</a></li>
                        <li><a href="#!">{% trans 'CONTACT US' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <a href="" uk-totop class="uk-visible@m footer-totop" data-uk-scroll=""
       data-uk-scrollspy="cls: uk-animation-fade; repeat: true"></a>

    <div class="uk-section footer-copyright">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-width-1-2@m uk-text-center uk-text-right@m">
                    Copyright &copy {% now 'Y' %} withthai.com
                </div>
                <div class="uk-width-1-1 uk-width-1-2@m uk-text-center uk-text-left@m">
                    All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="{% static 'conf/js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'conf/js/uikit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'conf/js/main.js' %}"></script>
</body>
</html>