<!DOCTYPE html>
{% load static i18n %}
{% load golf_tags %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<html lang="{{ LANGUAGE_CODE }}" class="has-navbar-fixed-top">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#87b842">
    <meta property="og:image" content="http://www.withthai.com{% static 'conf/images/withthai_og_en.png' %}"/>
    <meta property="og:image:width" content="1024"/>
    <meta property="og:image:height" content="1024"/>
    <meta charset="utf-8">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="태국어,태국,여행,골프,호텔,예약">
    <meta name="description" content="태국,태국어,태국이민,태국사업,태국여행,골프,호텔,예약,웰빙,힐링,여행,취업,최저가,국제학교">
    <title>{% trans 'WITH THAI' %} : {% block title %}{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
              integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous"/>
        {% if LANGUAGE_CODE == 'th' %}
            <link href="{% static 'conf/css/sarabun.css' %}" rel="stylesheet">
        {% else %}
            <link href="{% static 'conf/css/godo.css' %}" rel="stylesheet">
        {% endif %}
        <link type="text/css" href="{% static 'conf/css/withthai.css' %}"
              media="screen,projection" rel="stylesheet"/>
        <link type="text/css" href="{% static 'conf/css/main.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'conf/images/favicon_16x16.png' %}">
    {% endblock %}
</head>
<body>
<header>
    <!-- desktop navbar -->
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger burger">
                    <i class="fas fa-bars fa-fw"></i>
                </a>
                <a class="navbar-item" href="{% url 'home' %}">
                    {% if LANGUAGE_CODE == 'ko' %}
                        <img src="{% static 'conf/images/withthai_logo_ko.png' %}" alt="{% trans 'WITH THAI' %}">
                    {% else %}
                        <img src="{% static 'conf/images/withthai_logo_en.png' %}" alt="{% trans 'WITH THAI' %}">
                    {% endif %}
                </a>
                <a role="button" class="navbar-burger burger">
                    <i class="fas fa-luggage-cart fa-fw"></i>
                </a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    <a href="{% url 'golf:golf-club-list' %}" class="navbar-item">
                        {% trans 'GOLF' %}
                    </a>
                    <a href="#" class="navbar-item">
                        {% trans 'HOTEL' %}
                    </a>
                    <a href="#" class="navbar-item">
                        {% trans 'HOT DEALS' %}
                    </a>
                    <a href="#" class="navbar-item">
                        {% trans 'PROMOTIONS' %}
                    </a>
                    <a href="{% url 'magazine:home' %}" class="navbar-item">
                        {% trans 'MAGAZINE' %}
                    </a>
                </div>

                <div class="navbar-end">
                    <a href="#" class="navbar-item">
                        <i class="fas fa-passport fa-fw"></i>
                        {% trans 'BOOKING' %}
                    </a>
                    <a href="#" class="navbar-item">
                        <i class="fas fa-info-circle fa-fw"></i>
                        {% trans 'HELP' %}
                    </a>
                    <a href="#" class="navbar-item">
                        <i class="fas fa-user-cog fa-fw"></i>
                        {% trans 'MY PAGE' %}
                    </a>

                    {% if user.is_authenticated %}
                        <a href="{% url 'account_logout' %}" class="navbar-item">
                            <i class="fas fa-sign-out-alt fa-fw"></i>
                            {% trans 'SIGN OUT' %}
                        </a>
                    {% else %}
                        <a href="{% url 'account_login' %}" class="navbar-item">
                            <i class="fas fa-sign-in-alt fa-fw"></i>
                            {% trans 'SIGN IN' %}
                        </a>
                    {% endif %}

                    <a class="navbar-item">
                        <i class="fas fa-luggage-cart fa-fw"></i>
                        {% trans 'CART' %}
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container is-hidden-touch">
        <div class="is-pulled-right field is-grouped">
            <form class="control has-icons-left">
                <input class="input" type="text" placeholder="{% trans 'Search...' %}">
                <span class="icon is-small is-left"><i class="fas fa-search"></i></span>
            </form>
            <form class="control has-icons-left" action="{% url 'set_language' %}" method="post">
                <div class="select">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select id="language-selector" class="select" name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"
                                    {% if language.code == LANGUAGE_CODE %}
                                    selected{% endif %}>
                                {{ language.name_local }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="icon is-small is-left">
                    <i class="fas fa-globe"></i>
                </div>
            </form>
        </div>
    </div>
</header>
{% if messages %}
    <div class="container">
        {% for message in messages %}
            <article class="message
                {% if message.tags == 'error' %}is-danger
                {% elif message.tags == 'warning' %}is-warning
                {% elif message.tags == 'success' %}is-success
                {% else %}is-primary{% endif %}">
                <div class="message-body">{{ message }}</div>
            </article>
        {% endfor %}
    </div>
{% endif %}
{% block main %}
{% endblock %}
<footer>
    <div class="footer-info">
        <div class="container">
            <div class="columns is-gapless">
                <div class="column is-full-mobile is-two-thirds-desktop">
                    <h4 class="footer-info-heading">{% trans 'WITH THAI Co., Ltd.' %}</h4>
                    <ul class="footer-info-list">
                        <li>
                            {% trans 'Ekkamai No. 30 Sukhumvit (settabut) soi. 61 Klongton Nua, Wattana, Bangkok 10110' %}
                        </li>
                        <li>
                            {% trans 'TAX ID: 0105563049000' %}
                        </li>
                        <li>
                            {% trans 'TAT License: 14/03216' %}
                        </li>
                        <li>(+66) 080-023-3602</li>
                        <li>help@withthai.com</li>
                        <li>LINE: @withthai</li>
                    </ul>
                </div>
                <div class="column is-full-mobile is-one-third-desktop">
                    <h4 class="footer-info-heading">{% trans "Help" %}</h4>
                    <ul class="footer-info-list">
                        <li>
                            <a href="{% url 'help:guide' %}">
                                {% trans 'GUIDE' %}
                            </a>

                        </li>
                        <li>
                            <a href="{% url 'help:faq-list' %}">
                                {% trans 'FAQ/How-to' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'help:terms' %}">
                                {% trans 'TERMS &amp; CONDITIONS' %}
                            </a> &middot;
                            <a href="{% url 'help:privacy' %}">
                                {% trans 'PRIVACY POLICY' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'help:about' %}">
                                {% trans 'ABOUT US' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'help:question-list' %}">
                                {% trans 'CONTACT US' %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="columns is-gapless">
                <div class="column is-full-mobile is-half-desktop has-text-centered-mobile has-text-right-desktop">
                    Copyright &copy {% now 'Y' %} withthai.com
                </div>
                <div class="column is-full-mobile is-half-desktop has-text-centered-mobile">
                    All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
{% block javascript %}
    <script type="text/javascript" src="{% static 'conf/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'conf/js/main.js' %}"></script>
{% endblock %}
</body>
</html>