{% extends 'conf/base.html' %}

{% load i18n static %}

{% block main %}
    <main>
        <div class="uk-section container-veritcal-padding">
            <div class="uk-container">
                HOME
            </div>
        </div>
        <div class="uk-section uk-section-muted uk-section-small uk-preserve-color">
            <div class="uk-container">
                <div class="uk-child-width-1-3@m" uk-grid>
                    <div>
                        <div class="uk-card uk-card-primary uk-card-hover uk-card-body">
                            <h3 class="uk-card-title">태국 골프장/호텔 예약 직거래 플랫폼</h3>
                            <ul class="uk-list uk-list-bullet">
                                <li>골프장과 직접 커뮤니케이션하여 오류 없는 예약</li>
                                <li>엄격한 티오프 시간 준수</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-primary uk-card-hover uk-card-body">
                            <h3 class="uk-card-title">해외 신용카드 결제</h3>
                            <ul class="uk-list uk-list-bullet">
                                <li>합리적인 프로모션 가격</li>
                                <li>환율 차손 없는 바트화 기준 결제</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-primary uk-card-hover uk-card-body">
                            <h3 class="uk-card-title">생생한 태국 생활 정보</h3>
                            <ul class="uk-list uk-list-bullet">
                                <li>태국 뉴스 및 지역 정보제공</li>
                                <li>활발한 커뮤니티</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}