{% extends 'conf/base.html' %}

{% load i18n static %}

{% block main %}
    <main class="container">
        <div class="row">
            <div class="col s12 m8 l9">
                <div class="card">
                    <div class="blog-content-card-title">
                        <i class="far fa-folder-open fa-fw"></i> 리뷰-골프장
                        | <i class="far fa-calendar-alt fa-fw"></i> 2020-03-29 12:35
                        | 1,037회  <span class="new badge orange" data-badge-caption="">발행됨</span>
                    </div>
                    <div class="blog-content-card-content">
                        어쩌고 저쩌고

                    </div>
                    <div class="blog-content-card-footer">
                        <i class="fas fa-tag fa-fw"></i>
                        <span class="new badge amber lighten-5 black-text" data-badge-caption="골프장"></span>
                        <span class="new badge amber lighten-5 black-text" data-badge-caption="방콕"></span>
                        <span class="new badge amber lighten-5 black-text" data-badge-caption="가성비"></span>
                    </div>
                </div>
                <div class="card">
                    <div class="blog-content-card-title">
                        리뷰-골프장 | 2020-03-29 12:35 | 1,037회 [발행됨]
                    </div>
                    <div class="blog-content-card-content">
                        어쩌고 저쩌고

                    </div>
                    <div class="blog-content-card-footer">
                        태그
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="card grey lighten-5">
                    <span>광고 영역</span>
                </div>
                <div class="card lime lighten-5">
                    <div class="blog-sidebar-card-title">
                        {% trans 'CATEGORIES' %}
                    </div>
                    <div class="blog-sidebar-card-content">
                        <ul class="">
                            <li>태국뉴스</li>
                            <li>태국어</li>
                            <li>태국생활</li>
                            <li>리뷰
                                <ul>
                                    <li>골프장</li>
                                    <li>호텔</li>
                                    <li>음식점</li>
                                    <li>쇼핑몰</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card pink lighten-5">
                    <div class="blog-sidebar-card-title">
                        {% trans 'HOT DEALS' %}
                    </div>
                    <div class="blog-sidebar-card-content">

                    </div>
                </div>
                <div class="card cyan lighten-5">
                    <div class="blog-sidebar-card-title">
                        {% trans 'PROMOTIONS' %}
                    </div>
                    <div class="blog-sidebar-card-content">

                    </div>
                </div>
                <div class="card light-green lighten-5">
                    <div class="blog-sidebar-card-title">
                        {% trans 'RECENT POSTS' %}
                    </div>
                    <div class="blog-sidebar-card-content">

                    </div>
                </div>
                <div class="card indigo lighten-5">
                    <div class="blog-sidebar-card-title">
                        {% trans 'RECENT COMMENTS' %}
                    </div>
                    <div class="blog-sidebar-card-content">

                    </div>
                </div>
                <div class="card amber lighten-5">
                    <div class="blog-sidebar-card-title">
                        {% trans 'POPULAR TAGS' %}
                    </div>
                    <div class="blog-sidebar-card-content">

                    </div>
                </div>
                <div class="card grey lighten-5">
                    <span>광고 영역</span>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
