/* Blog */
.blog-sidebar-card-title {
    font-weight: bold;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.blog-sidebar-card-content > ul {
    margin-top: 0;
    padding-left: 2rem;
}

.blog-sidebar-card-content > ul > li {
    list-style: disc;
    padding: .2rem 0;
}

.blog-sidebar-card-content > ul > li > ul {
    padding-left: 1rem;
}

.blog-sidebar-card-content > ul > li > ul > li {
    list-style-type: circle;
    padding: .2rem 0;
}

.blog-content-card-title {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.blog-content-card-content {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.blog-content-card-content > .row {
    margin-bottom: 0;
}

.blog-content-card-footer {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.blog-content-card-content-heading {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0;
}

.blog-tag {
    font-size: .8rem;
    padding: 0 6px;
    height: 22px;
    line-height: 22px;
}
