{% extends 'conf/base.html' %}

{% load i18n static %}

{% block title %}{% trans "SNS LOGIN FAILURE" %}{% endblock %}

{% block main %}
    <main>
        <div class="hero is-large">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-multiline">
                        <div class="column is-one-third is-offset-one-third has-text-centered">
                            <h3>
                                {% trans "SNS LOGIN FAILURE" %}
                            </h3>

                            <div class="column is-one-third is-offset-one-third">
                                <article class="message is-danger">
                                    <div class="message-body">
                                        {% trans "An error occurred while attempting to login via your SNS account." %}
                                    </div>
                                </article>
                            </div>

                            <hr>

                            <div class="column is-one-third is-offset-one-third">
                                {% url 'account_login' as login_url %}
                                <a href="{{ login_url }}" class="button is-primary is-fullwidth">
                                    {% trans 'SIGN IN' %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
