{% extends 'conf/base.html' %}

{% load i18n static %}

{% block main %}
    <main>
        <div class="section has-padding-top-60">
            <form class="form" method="post" class="container">
                {% csrf_token %}

                <div class="columns is-multiline">
                    <div class="column is-three-fifths is-offset-one-fifth has-text-centered">
                        <h1 class="is-size-1">{% trans 'SIGN UP' %}</h1>
                    </div>

                    <div class="column is-three-fifths is-offset-one-fifth login-message">
                        <article class="message is-info">
                            <div class="message-body">
                                {% trans 'You are about to use your SNS account to login to WITH THAI.' %}
                            </div>
                        </article>
                    </div>

                    <div class="column is-three-fifths is-offset-one-fifth">
                        <div class="columns">
                            <div class="column is-half-desktop is-full-mobile">
                                <header class="card-header has-background-grey-lighter">
                                    <p class="card-header-title is-size-3">
                                        {% trans "Account" %}
                                    </p>
                                </header>
                                <div class="card-content">
                                    <div class="content">
                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                <label for="{{ form.email.id_for_label }}" class="label">
                                                    {{ form.email.label }}
                                                </label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control is-expanded has-icons-left has-icons-right">
                                                        <input class="input" type="email" placeholder="Email"
                                                               value="{{ form.email.value }}">
                                                        <span class="icon is-small is-left">
                                                            <i class="fas fa-envelope"></i>
                                                        </span>
                                                        <span class="icon is-small is-right">
                                                          <i class="fas fa-check"></i>
                                                        </span>
                                                    </div>
                                                    <div class="help">{{ form.email.help_text }}</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field is-horizontal">
                                            <div class="field-label"></div>
                                            <div class="field-body">
                                                <div class="field is-expanded">
                                                    <div class="field has-addons">
                                                        <p class="control">
                                                            <a class="button is-static">
                                                                +44
                                                            </a>
                                                        </p>
                                                        <p class="control is-expanded">
                                                            <input class="input" type="tel"
                                                                   placeholder="Your phone number">
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                <label class="label">Subject</label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control">
                                                        <input class="input is-danger" type="text"
                                                               placeholder="e.g. Partnership opportunity">
                                                    </div>
                                                    <p class="help is-danger">
                                                        This field is required
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="column is-half-desktop is-full-mobile">
                                <header class="card-header has-background-grey-lighter">
                                    <p class="card-header-title is-size-3">
                                        {% trans "Profile" %}
                                    </p>
                                </header>
                                <div class="card-content">
                                    <div class="content">
                                        {{ form.as_p }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-three-fifths is-offset-one-fifth">
                        <button type="submit" class="button is-fullwidth is-primary" type="submit">
                            {% trans "Sign up" %}
                        </button>
                    </div>
                </div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
            </form>
        </div>
    </main>
{% endblock %}
