{% extends 'conf/base.html' %}

{% load i18n static %}

{% block main %}
    <main>
        <div class="section has-padding-top-60">
            <form class="form" method="post" class="container">
                {% csrf_token %}

                <div class="columns is-multiline">
                    <div class="column is-three-fifths is-offset-one-fifth has-text-centered">
                        <h1 class="is-size-1">{% trans 'SIGN UP' %}</h1>
                    </div>

                    <div class="column is-three-fifths is-offset-one-fifth login-message">
                        <article class="message is-info">
                            <div class="message-body">
                                {% trans 'You are about to use your SNS account to login to WITH THAI.' %}
                            </div>
                        </article>
                    </div>

                    <div class="column is-three-fifths is-offset-one-fifth">
                        <div class="columns">
                            <div class="column is-half-desktop is-full-mobile">
                                <header class="card-header has-background-grey-lighter">
                                    <p class="card-header-title is-size-3 is-centered">
                                        {% trans "Account" %}
                                    </p>
                                </header>
                                <div class="card-content">
                                    <div class="content">
                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                <label for="{{ form.email.id_for_label }}" class="label">
                                                    {{ form.email.label }}
                                                </label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control is-expanded has-icons-left">
                                                        <input class="input" type="email"
                                                               placeholder="{% trans 'Email' %}"
                                                               id="{{ form.email.id_for_label }}"
                                                               name="{{ form.email.name }}"
                                                               value="{{ form.email.value }}">
                                                        <span class="icon is-small is-left">
                                                            <i class="fas fa-envelope"></i>
                                                        </span>
                                                    </div>
                                                    <ul>
                                                        <li>{% trans 'To get booking receipt' %}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                <label for="{{ form.username.id_for_label }}" class="label">
                                                    {{ form.username.label }}
                                                </label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control is-expanded has-icons-left">
                                                        <input class="input" type="text"
                                                               placeholder="{% trans 'Username' %}"
                                                               id="{{ form.username.id_for_label }}"
                                                               name="{{ form.username.name }}"
                                                               value="{{ form.username.value }}">
                                                        <span class="icon is-small is-left">
                                                            <i class="fas fa-user"></i>
                                                        </span>
                                                    </div>
                                                    <ul>
                                                        <li>{% trans 'Not your personal name' %}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="column is-half-desktop is-full-mobile">
                                <header class="card-header has-background-grey-lighter">
                                    <p class="card-header-title is-size-3 is-centered">
                                        {% trans "Profile" %}
                                    </p>
                                </header>
                                <div class="card-content">
                                    <div class="content">
                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                <label for="{{ form.first_name.id_for_label }}" class="label">
                                                    {{ form.first_name.label }}
                                                </label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control">
                                                        <input class="input" type="text"
                                                               placeholder="{% trans 'JOHN' %}"
                                                               id="{{ form.first_name.id_for_label }}"
                                                               name="{{ form.first_name.name }}"
                                                               value="{{ form.first_name.value }}">
                                                    </div>
                                                    <ul>
                                                        <li>{{ form.first_name.help_text }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                <label for="{{ form.last_name.id_for_label }}" class="label">
                                                    {{ form.last_name.label }}
                                                </label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control">
                                                        <input class="input" type="text"
                                                               placeholder="{% trans 'DOE' %}"
                                                               id="{{ form.last_name.id_for_label }}"
                                                               name="{{ form.last_name.name }}"
                                                               value="{{ form.last_name.value }}">
                                                    </div>
                                                    <ul>
                                                        <li>{{ form.last_name.help_text }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                <label for="{{ form.phone.id_for_label }}" class="label">
                                                    {{ form.phone.label }}
                                                </label>
                                            </div>
                                            <div class="field-body">
                                                <div class="field">
                                                    <div class="control is-expanded has-icons-left">
                                                        <input class="input" type="text"
                                                               placeholder="{% trans '+66801231234' %}"
                                                               id="{{ form.phone.id_for_label }}"
                                                               name="{{ form.phone.name }}"
                                                               value="{{ form.phone.value|default_if_none:"" }}">
                                                        <span class="icon is-small is-left">
                                                            <i class="fas fa-mobile-alt"></i>
                                                        </span>
                                                    </div>
                                                    <ul>
                                                        <li>{{ form.phone.help_text }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-three-fifths is-offset-one-fifth">
                        <button type="submit" class="button is-fullwidth is-primary" type="submit">
                            {% trans "Sign up" %}
                        </button>
                    </div>
                </div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
            </form>
        </div>
    </main>
{% endblock %}
